{% load static %}

<div>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center bg-primary">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">support@bluescale.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
      </div>
    </section>
  
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
  
        <h1 class="logo"><a href="index.html">BlueScale<span>.</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#services">Plans</a></li>
            <li><a class="nav-link scrollto" href="#blog">Blog</a></li>
            <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li>
              <div class="btn-wrap">
                <a class="" href="login.html">LOGIN</a>
              </div>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header>
    <!-- End Header -->
  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h3>Bluescale Ltd</h3>
        <h1>A WAY TO EFFICIENTLY<span>
          INVEST MONEY</span></h1>
        <h2>The world's Top digital asset Trade & Investment firm, and a digital asset specialist globally.</h2>
        <div class="d-flex">
          <a href="register.html" class="btn-get-started scrollto">Create An Account<i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </section>
    <!-- End Hero -->
  
    <main id="main">
      <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About</h2>
            <h3>Find Out More <span>About Us</span></h3>
            <p>BlueScale an Investment firm with group of expert who Manage funds for varoius clients who wish to diversify the funds into the rich and evergrowing Crypto space to profit from inmerse opportunity which crypto currency present today .</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-top" data-aos="fade-up" data-aos-delay="100">
              <h3>Investment Objective.</h3>
              <p class="fst-italic">
               <h5> Bluescale Bitcoin Trust is one of the best invesment solely and passively invested in Bitcoin,Etherem,USDT and other crypto currency that enables investors to gain exposure to BTC in the form of a security while avoiding the challenges of buying, storing, and safekeeping BTC, directly.</h5>
  
                <h5>Bitcoin is a digital asset that is created and transmitted through the operations of the peer-to-peer Bitcoin Network, a decentralized network of computers that operates on cryptographic protocols. The Bitcoin Network allows people to exchange tokens of value, Bitcoins, which are recorded on a public transaction ledger known as a Blockchain.</h5>
              </p>
              <!-- <ul>
                <li>
                  <i class="bx bx-store-alt"></i>
                  <div>
                    <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                    <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                  </div>
                </li>
                <li>
                  <i class="bx bx-images"></i>
                  <div>
                    <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                    <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                  </div>
                </li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum
              </p> -->
            </div>
          </div>
  
        </div>
      </section>
      
      
      
      <!-- End About Section -->
  
  
      <!-- ======= Counts Section ======= -->
      <!-- <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-end="22132" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clients</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
              <div class="count-box">
                <i class="bi bi-bank2"></i>
                <div class="d-flex justify-content-center">
                  <span>$</span>
                  <span data-purecounter-start="0" data-purecounter-end="56" data-purecounter-duration="1" class="purecounter">
                </span>
                <span>million</span></div>
                <p>Deposit</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="bi bi-cash-coin"></i>
                <div class="d-flex justify-content-center">
                  <span>$</span>
                  <span data-purecounter-start="0" data-purecounter-end="13" data-purecounter-duration="1" class="purecounter"></span>
                <span>million</span>
                </div>
                
                <p>Payout</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span data-purecounter-start="0" data-purecounter-end="21" data-purecounter-duration="1" class="purecounter"></span>
                <p>partners</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section> -->
      <!-- End Counts Section -->
  
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients section-bg">
        <div class="container" data-aos="zoom-in">
  
          <div class="row">
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-2.jpeg" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-4.jpg" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-6.jpg" class="img-fluid" alt="">
            </div>
  
          </div>
  
        </div>
      </section>
      
      <!-- End Clients Section -->
  
     <!-- ======= Pricing Section ======= -->
      <section id="services" class="pricing">
            <div class="container mb-5" data-aos="fade-up">
      
              <div class="section-title">
                <h2>Plans</h2>
                <h3>Check our <span>Plans</span></h3>
                <p>To make an investment, you have to know where you are investing. Find a plan which is best for you</p>
              </div>
      
              <div class="row">
      
                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="box featured">
                    <h3>Basic</h3>
                    <h4><sup></sup>5%<span> daily for 10 days</span></h4>
                    <ul>
                      <li><i class="bi bi-check"></i> profit</li>
                      <li><i class="bi bi-check"></i> Capital Back</li>
                      <li><i class="bi bi-check"></i> Repeatable (yes)</li>
                      <h6>MIN DEPOSIT: $200</h6>
                      <h6>MAX DEPOSIT: $2500</h6>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Invest Now</a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                  <div class="box featured">
                    <h3>Platinum</h3>
                    <h4><sup></sup>8%<span> daily for 30 days</span></h4>
                    <ul>
                      <li><i class="bi bi-check"></i> profit</li>
                      <li><i class="bi bi-check"></i> Capital Back</li>
                      <li><i class="bi bi-check"></i> Repeatable (yes)</li>
                      <h6>MIN DEPOSIT: $500</h6>
                      <h6>MAX DEPOSIT: $15,000</h6>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Invest Now</a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                  <div class="box featured">
                    <h3>Elite</h3>
                    <h4><sup></sup>12%<span> daily for 50 days</span></h4>
                    <ul>
                      <li><i class="bi bi-check"></i> profit</li>
                      <li><i class="bi bi-check"></i> Capital Back</li>
                      <li><i class="bi bi-check"></i> Repeatable (one time)</li>
                      <h6>MIN DEPOSIT: $1500</h6>
                      <h6>MAX DEPOSIT: $60,000</h6>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Invest Now</a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                  <div class="box featured">
                    <h3>Exclusive</h3>
                    <h4><sup></sup>15%<span> daily for 90 days</span></h4>
                    <ul>
                      <li><i class="bi bi-check"></i> profit</li>
                      <li><i class="bi bi-check"></i> Capital Back</li>
                      <li><i class="bi bi-check"></i> Repeatable (one time)</li>
                      <h6>MIN DEPOSIT: $3500</h6>
                      <h6>MAX DEPOSIT: $150,000</h6>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Invest Now</a>
                    </div>
                  </div>
                </div>
      
              </div>
      
            </div>
            <div class="container" data-aos="fade-up">
      
              <div class="row">
      
                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="box featured">
                    <h3>Stellar</h3>
                    <h4><sup></sup>18%<span> daily for 120 days</span></h4>
                    <ul>
                      <li><i class="bi bi-check"></i> profit</li>
                      <li><i class="bi bi-check"></i> Capital Back</li>
                      <li><i class="bi bi-check"></i> Repeatable (one time)</li>
                      <h6>MIN DEPOSIT: $5000</h6>
                      <h6>MAX DEPOSIT: $500,000</h6>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Invest Now</a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                  <div class="box featured">
                    <h3>Lifetime</h3>
                    <h4><sup></sup>22%<span> daily for 140 days</span></h4>
                    <ul>
                      <li><i class="bi bi-check"></i> profit</li>
                      <li><i class="bi bi-check"></i> Capital Back</li>
                      <li><i class="bi bi-check"></i> Repeatable (one time)</li>
                      <h6>MIN DEPOSIT: $10,000</h6>
                      <h6>MAX DEPOSIT: UNLIMITED</h6>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Invest Now</a>
                    </div>
                  </div>
                </div>
      
  
      
               
      
              </div>
      
            </div>
      </section>
      
      <!-- End Pricing Section -->
      <section id="conta" class="services">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>How to get started</h2>
                <h3>We have some easy steps!</h3>
                <p>You will get each update about our system and the world market in this area. Keep checking our Latest News to be in touch.</p>
              </div>
      
              <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box">
                    <div class="icon"><i class="bi bi-person-plus"></i></div>
                    <h4><a href="">Create Account</a></h4>
                    <p>Simply get started by creating an account to invest with us. It takes only a few minutes to get signed up.</p>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon-box">
                    <div class="icon"><i class="bi bi-cash"></i></div>
                    <h4><a href="">Make a deposit</a></h4>
                    <p>Deposit money into your wallet. You can use this wallet to buy, invest, reinvest and so much more.</p>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon-box">
                    <div class="icon"><i class="bi bi-person-check"></i></div>
                    <h4><a href="">Purchase Investment Plan and Get Profit</a></h4>
                    <p>Choose an investment plan very seamlessly and start making profit.
                  </div>
                </div>
                </div>
      
              </div>
      </section>
  
      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section>
      
      <!-- End Testimonials Section -->
  
      <!-- ======= Portfolio Section ======= --><!-- End Portfolio Section -->
  
      <!-- ======= Team Section ======= -->
      <!-- <section id="tea" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Team</h2>
            <h3>Our Hardworking <span>Team</span></h3>
            <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
          <!-- </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="member-img">
                  <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <div class="member-img">
                  <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <div class="member-img">
                  <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
              <div class="member">
                <div class="member-img">
                  <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>  -->
      <!-- End Team Section -->
  
          <!-- ======= Services Section ======= -->
      <section id="blog" class="services">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Blog</h2>
            <h3>Our Latest News & Tips</h3>
            <p>You will get each update about our system and the world market in this area. Keep checking our Latest News to be in touch.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
  
  
      <!-- End Services Section -->
  
      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>F.A.Q</h2>
            <h3>Frequently Asked <span>Questions</span></h3>
            <p>Have more questions? Please reach out to our Investor Relations team at info@bluescale.com</p>
          </div>
  
          <div class="row justify-content-center">
            <div class="col-xl-10">
              <ul class="faq-list">
  
                <li>
                  <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Who is BlueScale? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Bluescale enables investors to access the digital economy through a family of regulated and future-forward investment products. Founded in 2023, Bluescale has a proven track record and deep expertise as the Best crypto asset manager. Investors, advisors, and allocators turn to Grayscale for single asset, diversified, and thematic exposure.
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Why invest in Bitcoin? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Investors may want exposure to Bitcoin for portfolio diversification, as an alternative to fiat currency investment, to hedge against conventional markets, and more.  
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Who can invest in Bluescale? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                     Anyone who wishes to transition from the traditional financial vehicle to a more roburt and dynamic investment with good returns on your investment.
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">How is our service better than other products? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      We are purposely very different to your typical financial adviser. New clients often assume a financial advisor’s job is to choose investments. Whilst this forms part of our overall offering we also provide our clients with much, much more. We call this proper financial planning, and it involves building a plan that will help you live the best version of your life. Everything we do is carefully designed to identify and understand what is important to you and see which obstacles, if any, might get in the way. We are legally registered, 24/7 support team, reliable and fast payments.
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">How to contact with Customer Service?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Our customer service team are 24/7 active to answer all questions and you can contact them through our support mail support@bluescale.com.
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">How can I invest with Bluescale.com ?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      To make a investment you must first become a member of BlueScale.com. Once you are signed up, you can make your first deposit. All deposits must be made through the Members Area. You can login using the member username and password you receive when signup.
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">Are my deposits protected ?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq7" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      Yes, like any bank and any securities firm in England and Wales, BlueScale & Investment Company Ltd is required to sign the Self-regulation “Agreement between esisuisse and its members”. This means clients’ deposits are protected up to a maximum of $100,000 per client. Depositor protection in England and Wales is provided by esisuisse.
                    </p>
                  </div>
                </li>
  
                <li>
                  <div data-bs-toggle="collapse" href="#faq8" class="collapsed question">Can I lose money?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                  <div id="faq8" class="collapse" data-bs-parent=".faq-list">
                    <p>
                      There is a risk involved with investing in all high yield investment programs, that is why the company is here to take good care of your investments and calculate investment returns to avoid high risk for the investors and in case of changes of any risk the company is held responsible.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
  
        </div>
      </section>
      
      <!-- End Frequently Asked Questions Section -->
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contact</h2>
            <h3><span>Contact Us</span></h3>
            <p>We’re here to help and answer any questions you might have. We look forward to hearing from you!.</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>support@bluescale.com</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div>
  
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
  
            <div class="col-lg-6 ">
              <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>
  
            <div class="col-lg-6">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- End Contact Section -->
  
    </main>
    
    <!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
  
      <div class="footer-newsletter">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <h4>Join Our Newsletter</h4>
              <p></p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="Subscribe">
              </form>
            </div>
          </div>
        </div>
      </div>
  
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>Bluescale<span>.</span></h3>
              <p>
                A108 Adam Street <br>
                New York, NY 535022<br>
                United States <br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> support@bluescale.com<br>
              </p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class=" about bx bx-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <!-- <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
              </ul> -->
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Stay Connected</h4>
              <!-- <p>Always stay connected with one of our social network</p> -->
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container d-flex justify-content-center">
        <div class="copyright">
          &copy; Copyright <strong><span>Bluescale</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
          <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>
  
    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
  
</div>